@font-face {
  font-family: Akkurat Pro;
  src: local('Akkurat Pro'), url(./fonts/AkkLg_Pro_1.otf) format('opentype');
}

@font-face {
  font-family: Akkurat Pro;
  src: local('Akkurat Pro'), url(./fonts/AkkBd_Pro_1.otf) format('opentype');
} 
.footer{
  
  font-weight: bold;
  width: 00vw;
  line-height: auto;
  padding: 10px 15px;
  background-color: none;
  font-family: Akkurat Pro;

}

.breadcrumbs{
  font-size: 0.8rem;
  padding: 10px 15px;
  font-size: Akkurat Pro;
  font-weight: light;
}

.App{
  color: fuchsia;
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTWHhg9VCdLJKtAMnWGne6lHu8yWvaSrxTOS63P8phf1w0ExUYz&usqp=CAU); */
  background-size: auto;
  font-family: Akkurat Pro;
  padding: 10px 20px;
  background-color: #f9f9f9;
  

}

a { color: inherit; } 
a:hover{
  color: grey;
  text-decoration: none;
}

.middle{
  height:20vh;
}

.middle1{
  height: 10vh;
}

.eyeservice{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  /* background-color:  #f9f9f9 */
}

.accordion{
  background-color: #f9f9f9;
  border:none;
  cursor: pointer;
  transition: 0.4s;
  color: fuchsia;
}

/* .active, .accordion:hover {
  background-color: #ccc; 
} */


.panel{
  padding: 0 18px;
  display: none;
  overflow: hidden;
}

